.input-kalk-1cal,.select {
    width: 100%;
    position: relative
}

.select {
    background-position: 95% 50%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 30px;
    vertical-align: top;
    display: inline-block
}

select>option {
    background-color: transparent;
    border: 0;
    padding-right: 15px;
    height: 31px;
    width: 220px
}

.select b,.select-2 b {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: Roboto-Regular,sans-serif;
    margin-bottom: 1em
}

.input-kalk-1cal {
    font-size: 14px;
    padding: 10px 40px 10px 12px;
    border: 0;
    color: #5d5d5d;
    background-color: #efefef;
    display: block;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 1em
}

.mb-1em {
    margin-bottom: 2em;
    padding: .7em 2em;
    background: #efefef;
    border-bottom: 3px solid red;
    margin-right: 0;
    margin-top: 1.7em;
    width: 100%;
    text-align: center;
    height: 42px
}

.formcolback-select {
    width: 100%!important
}

.select2-container .select2-selection--multiple {
    min-height: 42px!important;
    border-radius: 0!important
}

.datatimepicer {
    margin-bottom: 2.5em;
    padding: .7em 1.7em;
    background: #efefef;
    margin-right: 0;
    margin-top: 1.6em;
    min-width: 276px!important;
    min-height: 42px!important
}

pre {
    margin-bottom: 0!important
}

.image-absolute,.photo-near-calculator {
    overflow: hidden
}

.row-md-right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.bg-secondary {
    background-color: #312944;
    color: #fff
}

.bg-secondary-1 {
    color: #fff;
    background-color: #000
}

.bg-secondary a:hover,.bg-secondary-1 a:hover {
    color: #ae2f3d
}

.bg-secondary .btn-default,.bg-secondary-1 .btn-default {
    color: #fff;
    border-color: #fff;
    background-color: transparent
}

.bg-secondary .btn-default:hover {
    color: #312944;
    background-color: #fff
}

.bg-secondary-1 .btn-default:hover {
    background-color: #fff
}

#responsesend h1,.bg-secondary .btn-primary:hover,.bg-secondary-1 .btn-primary:hover {
    color: #fff
}

.bg-secondary-1 .btn-default:hover {
    color: #000
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    display: block!important;
    content: " "
}

*,:after,:before {
    box-sizing: border-box!important
}

.delivery-address,.select2 {
    width: 100%!important
}

.photos-of-the-full-width {
    max-width: 122%!important
}

#responsesend {
    position: fixed;
    font-family: Arial,Helvetica,sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10%;
    background: rgba(0,0,0,.9);
    z-index: 99999;
    display: none;
    text-align: center;
    vertical-align: middle
}

.title-hookah {
    margin-top: 2em
}

.select .input-kalk-1cal,.select .select2-selection,.select textarea {
    margin-top: .5em;
    margin-bottom: .5em
}

#order-form {
    width: 100%
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}