/*.select {*/
    /*position:relative;*/
    /*background-position: 95% 50%;*/
    /*border-radius: 5px;*/
    /*margin-right: 2%;*/
    /*margin-bottom: 20px;*/
    /*display: inline-block;*/
/*}*/



/*select > option {*/
    /*background-color: transparent;*/
    /*border: 0;*/

    /*padding-right: 15px;*/
    /*height: 31px;*/
    /*width: 220px;*/
/*}*/

/*.select b, .select-2 b {*/
    /*font-weight: 700;*/
    /*margin-bottom: 0;*/
    /*text-transform: uppercase;*/
    /*font-size: 14px;*/
    /*letter-spacing: 2px;*/
    /*color: #242424;*/
    /*font-family: Roboto-Regular, sans-serif;*/
    /*margin-bottom: 1em;*/
/*}*/



input{
    font-size: 14px;
    padding: 10px 40px 10px 12px;
    border: none;
    color: #5d5d5d;
    background-color: #efefef;
    display: block;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 1em;
}
.mb-1em{
    margin-bottom: 1em;
    padding: 1em 6em;
    background: #efefef;
    border-bottom: 2px solid red;
    margin-right: 0em;
    margin-top: 2em;
}