.select {
    position:relative;
    background-position: 95% 50%;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
select > option {
    background-color: transparent;
    border: 0;

    padding-right: 15px;
    height: 31px;
    width: 220px
}

.select b, .select-2 b {
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;

    font-family: Roboto-Regular, sans-serif;
    margin-bottom: 1em;
}



input{
    font-size: 14px;
    padding: 10px 40px 10px 12px;
    border: none;
    color: #5d5d5d;
    background-color: #efefef;
    display: block;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 1em;
}
.mb-1em{
    margin-bottom: 2em;
    padding: 0.7em 6em;
    background: #efefef;
    border-bottom: 3px solid red;
    margin-right: 0em;
    margin-top: 3em;
}
.formcolback-select{
    width: 100% !important;
}
.select2-container .select2-selection--multiple{
    min-height: 42px !important;
    border-radius: 0 !important;
    margin-bottom: 6.6% !important;
}
.datatimepicer{
    margin-bottom: 2.5em;
    padding: 0.7em 1.7em;
    background: #efefef;
    margin-right: 0em;
    margin-top: 1.6em;
    min-width: 276px!important;
    min-height: 42px!important;
}
pre {
    margin-bottom: 0rem!important;
}
.photo-near-calculator{
    overflow: hidden;
}
.photos-of-the-full-width{
    max-width: 122% !important;%;
}